<html lang='en'>
    <%- include('../partials/header.ejs') %>
    <body>
       <%- include('../partials/nav.ejs') %>
       <h2 class="title"><%= title %></h2>
       <div>
         
        </div>
       </div>
       <%- include('../partials/footer.ejs') %>
    </body>
</html>