<html lang='en'>
    <%- include('../partials/header.ejs') %>
    <body>
       <%- include('../partials/nav.ejs') %>
       <h2 class="title"><%= title %></h2>
       <div class="add_book_div">
         <form enctype="multipart/form-data" action="/books" method="post">
            <label for="name">Book Name:</label>
            <br/>
            <input type="text" id="name" name="name" required/>
            <br/>
            <label for="author">Book Author:</label>
            <br/>
            <input type="text" id="author" name="author" required/>
            <br/>
            <label for="image">Book Image:</label>
            <br/>
            <input type="file" id="image" name="image" required/>
            <br/>
             <button type="submit" class="book_rent_btn">Add</button>
         </form>
        </div>
       </div>
       <%- include('../partials/footer.ejs') %>
    </body>
</html>